.login-form{
   max-width: 360px;
   margin: 60px auto;
   padding: 30px;
  

}
.login-form span{
    display: block;
    margin-bottom: 6px;
}

.login-form label{
    display: block;
    margin: 30px auto;
}
.login-form input{
    padding: 8px;
    color: #333;
    font-size: 1em;
    width: 100%;
}
