.btn {
    background: none;
    border: 2px solid green;
    padding: 6px 12px;
    border-radius: 4px;
    color: green;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}
.btn:hover {
    background: green;
    color: white;
    
}